body {
  margin: 0;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  background-color: rgb(244, 244, 242);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-device-width : 480px){
  header{
    display: flex;
    padding: 20px 20px 20px 0;
  }
  #logo{
    width: 35vw;
    height: auto;
    border-radius: 45%;
  }
  .crown{
    width: 20px;
  }
  .app-name{
    padding-left: 10px;
    line-height: 0.5em;
  }
  .app-name h1{
    letter-spacing: 5px;
    font-size: 3.5em;
    font-weight: 600;
  }
  .app-name p{
    font-size: 1em;
    text-indent: 15px;
  }
  .pick-breed{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
  }
  .form-label{
    font-size: 2em;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight:bold;
    letter-spacing: 3px;
  }
  .history-wrapper{
    padding-top:20px;
  }
  .history-title{
    font-size: 1.5em;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: 300;
    letter-spacing: 2px;
  }
  .cat-image{
    width: 200px;
    height: auto;
    border-radius: 30%;
  }
  .loading-container{
    width: 50px;
    margin: 0 auto;
  }
  .loading-spinner {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid palevioletred;
    border-bottom: 3px solid palevioletred;
    border-top: 3px solid transparent;
    border-right: none;
    animation: loadingSpinner 1s linear infinite;
    margin: 0 auto;
  }
}

@keyframes loadingSpinner {
	100% { transform: rotate(360deg); }
}